<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Scotch Tasting Form</title>
</head>
<body>
{{ form.scotch_name.label }} <br>
{{ form.scotch_name }} <br>
{{ form.scotch_region.label }} <br>
{{ form.scotch_region }} <br>
{{ form.scotch_type.label }} <br>
{{ form.scotch_type }} <br>
{{ form.scotch_age.label }} <br>
{{ form.scotch_age }} <br>
{{ form.scotch_smoothness.label }} <br>
{{ form.scotch_smoothness }} <br>
{{ form.scotch_flavor.label }} <br>
{{ form.scotch_flavor }} <br>
{{ form.scotch_comments.label }} <br>
{{ form.scotch_comments }} <br>
{{ form.scotch_rating.label }} <br>
{{ form.scotch_rating }} <br>
{{ form.submit.label }} <br>
{{ form.submit }}
</body>
</html>