<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Wine Tasting Form</title>
</head>
<body>
{{ form.wine_name.label }} <br>
{{ form.wine_name }} <br>
{{ form.wine_country.label }} <br>
{{ form.wine_country }} <br>
{{ form.wine_state.label }} <br>
{{ form.wine_state }} <br>
{{ form.wine_vineyard.label }} <br>
{{ form.wine_vineyard }} <br>
{{ form.wine_type.label }} <br>
{{ form.wine_type }} <br>
{{ form.wine_vintage.label }} <br>
{{ form.wine_vintage }} <br>
{{ form.wine_color.label }} <br>
{{ form.wine_color }} <br>
{{ form.wine_sweetness.label }} <br>
{{ form.wine_sweetness }} <br>
{{ form.wine_flavor.label }} <br>
{{ form.wine_flavor }} <br>
{{ form.wine_comments.label }} <br>
{{ form.wine_comments }} <br>
{{ form.wine_rating.label }} <br>
{{ form.wine_rating }} <br>
{{ form.submit.label }} <br>
{{ form.submit }}
</body>
</html>